@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
  }
  
  header {
    background: linear-gradient(to bottom left, #2205c4,#ededf2);
    color: rgb(39, 35, 94);
    padding: 20px;
    text-align: center;
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
    margin: 10px 0 0 0;
  }
  
  .menu li a {
    color: rgb(93, 18, 18);
    text-decoration: none;
    font-weight: bold;
  }
  
  .contenu {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
    background-color: rgb(233, 238, 231);
  }
  
  h2 {
    color: #1e3d59;
  }
  
  footer {
    text-align: center;
    padding: 15px;
    background-color: #1e3d59;
    color: white;
  }

  